{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Offres d'emploi</h1>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Société</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code postale</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Description</th>
                    <th scope="col">{# Bouton d'action - Validation #}</th>
                    <th scope="col">{# Bouton d'action - Supprimer #}</th>
                </tr>
            </thead>
            <tbody>
                {% for jobOffers in offersID %}
                        <tr>
                            <th scope="row">
                                {{ jobOffers.id }}
                            </th>
                            <td>
                                {{ jobOffers.title }}
                            </td>
                            <td>
                                {{ jobOffers.companyName }}
                            </td>
                            <td>
                                {{ jobOffers.address }}
                            </td>
                            <td>
                                {{ jobOffers.zipcode }}
                            </td>
                            <td>
                                {{ jobOffers.city }}
                            </td>
                            <td>
                                {{ jobOffers.description }}
                            </td>
                            <td>
                                {% if(jobOffers.validationJob == false) %}
                                    <a href="{{ path('consultant_validationJob', {'id': jobOffers.id}) }}" role="button" class="btn btn-primary">Validation</a>
                                {% endif %}

                            </td>
                            <td>
                                <a href="{{ path('joboffers_remove', {'id': jobOffers.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gestion des recruteurs</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">{# Bouton d'action - Supprimer #}</th>
                    <th scope="col">{# Bouton d'action - Modifier #}</th>
                </tr>
            </thead>
            <tbody>
                {% for recruiter in recruiters %}
                        <tr>
                            <th scope="row">
                                {{ recruiter.id }}
                            </th>
                            <td>
                                {{ recruiter.email }}
                            </td>
                            <td>
                                {{ recruiter.password }}
                            </td>
                            <td>
                                {{ recruiter.lastname }}
                            </td>
                            <td>
                                {{ recruiter.firstname }}
                            </td>
                            <td>
                            {% if(recruiter.validation == false) %}
                                <a href="{{ path('validation_recruiter', {'id': recruiter.id}) }}" role="button" class="btn btn-primary">Validation</a>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('recruiter_remove', {'id': recruiter.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
        <div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gestion des candidats</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">{# Bouton d'action - Supprimer #}</th>
                    <th scope="col">{# Bouton d'action - Modifier #}</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                        <tr>
                            <th scope="row">
                                {{ candidate.id }}
                            </th>
                            <td>
                                {{ candidate.email }}
                            </td>
                            <td>
                                {{ candidate.password }}
                            </td>
                            <td>
                                {{ candidate.lastname }}
                            </td>
                            <td>
                                {{ candidate.firstname }}
                            </td>
                            <td>
                            {% if(candidate.validation == false) %}
                                <a href="{{ path('validation_candidate', {'id': candidate.id}) }}" role="button" class="btn btn-primary">Validation</a>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('candidate_remove', {'id': candidate.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
        </div>
        <div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Candidat a valider</h1>
            </div>
        </div>
        {% for userID in userID.offers %}
        <span class="nav-link">{{ userID.id }} {{ userID.title }} {{ userID.description }}</span>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">cv</th>
                        <th scope="col">{# Bouton d'action - Valider #}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidateApplication %}
                        <tr>
                            <th scope="row">
                                {{ candidate.id }}
                            </th>
                            <td>
                                {{ candidate.lastname }}
                            </td>
                            <td>
                                {{ candidate.firstname }}
                            </td>
                            <td>
                                {{ candidate.CVFilename }}
                            </td>
                            {% if(candidateValidateConsultant == 'false') %}
                                {% if(offersValidateConsultant == 'false') %}

                                    <td>
                                        <a href="{{ path('email', {'id1': userID.id, 'id2': candidate.id}) }}" role="button" class="btn btn-primary">Validation</a>
                                    </td>
                                {% endif %}

                                {% else %}                                    
                                <td>
                                    candidature envoyée au recruteur
                                </td>
                              
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    </div>

{% endblock %}
